<?xml version="1.0" encoding="utf-8"?>
<plugin id="mcchandout">
    <require plugin="org.dita.pdf2"/>
    <feature extension="dita.conductor.transtype.check" value="mcchandout"/>
    <feature extension="dita.transtype.print" value="mcchandout"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
</plugin>